<html xmlns:th="https://www.thymeleaf.org"/>
<head>
<style>
#id1{
  width:500px;
  position:left;
}
</style>
</head>
<h1 style="color:green;text-align:center;"> Customer page</h1>
 <b style="text-align:center">Cost:<span th:text="${price}"/>
 
<div id="id1">
<img th:src="@{/images/greenland.jpeg}"/>
</div>
<p>A beautyful cultivation land for sale surrounded by many paddy 
crops ,most of the neighbors doing agriculture.This is one acre of land
you can cultivate paddy ,sunflower,groundnuts full of water facility is 
available .It is very near to the city outcuts ,near by road facility is 
available  beautifull view point is there at evening time.one huge lake is 
there near by our plot.</p>
<hr>
<b style="text-align:center;"> Cost:<span th:text="${price2}"/></b>
<img th:src="@{/images/greenland2.jpeg}"/>
