<html xmlns:th="https://www.thymeleaf.org"/>
<h1 style="color:green;text-align:center;">Managing director Roles</h1>
<br>
<p>
   The Basis for Appointment of a Managing Director in a Company
The MD of a corporation may be appointed for up to five years and then reappointed for an additional term starting one year before the previous term expires. A corporation may elect to appoint a director or a full-time director in any of the following ways unless one of the following five procedures is expressly stipulated in the bylaws of the company:

By virtue of an agreement with the company.
By virtue of a resolution passed by the company in a general meeting.
By virtue of a resolution passed by the Board of directors.
By virtue of the Memorandum of Association or Articles of Association
   
</p>