<html xmlns:th="https://www.thymeleaf.org"/>
<head>
<style>
h1 {
  color:green;
  text-align:center;
}
</style>
</head>
<h1>WelCome to Syr Properties</h1><br>
<h3 style="text-align:center;">
 <a th:href="@{/syr/managing_director}">Managing director page</a><br>
 <a th:href="@{/syr/vise_president}">vise president page</a><br>
 <a th:href="@{/syr/marketing_manager}">marketing manager</a><br>
 <a th:href="@{/syr/customers}">customers</a><br><br>
  
  <a th:href="@{/user/register}">User Registration</a>
 
</h3>
